version: "3.8"

services:
  frontend:
    build: .
    deploy:
      replicas: 3         # ← Tres réplicas del frontend
      restart_policy:
        condition: on-failure
    expose:
      - "80"

  loadbalancer:
    image: nginx:latest
    ports:
      - "80:80"
    depends_on:
      - frontend
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
